@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot');
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

#connectCounter{
    font-size: 1.2em;
}

#routes li{
    list-style: none;
}

.task-new {

}
.menu-list a, .menu-list a:hover, .menu-list a:active, .menu-list a:focus{
    text-decoration: none;
    cursor: pointer;
}


.listdemoListControls md-divider {
    margin-top: 0;
    margin-bottom: 0; }

.listdemoListControls md-list {
    padding-top: 0; }

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }