html
    head
        title=title

        link(rel="stylesheet", type="text/css", href="/styles/style.css")

        script(src="/scripts/index.js")
        script(async, src="//cdn.headwayapp.co/widget.js")

    body
        h1=message

        div#headwayapp

        ul
            for route in routes
                li=route.methods + " > "
                    a(href=route.path)=route.path
