<div class="container-fluid" ng-controller="taskListController">
    <div class="row">
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="task in tasks | filter:query" ng-href="#/task/{{task._id}}">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ task.name }}</h3>
                    <h4>{{ task.status }}</h4>
                    <p>{{ task.Created_date }}</p>
                </div>
            </md-list-item>
            <md-divider ></md-divider>
        </md-list>

























    </div>
</div>