<div class="container-fluid" ng-controller="taskNewController">
    <div class="row">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">New task</span>
                    <span class="md-subhead"></span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <div layout="row" layout-align="space-between center">
                    <md-input-container>
                        <label>Title</label>
                        <input ng-model="entry.name"/>
                    </md-input-container>

                </div>

                <div layout="row" layout-align="space-between center">
                    <md-input-container>
                        <label>Status</label>
                        <md-select ng-model="entry.status" placeholder="Status">
                            <md-option value="pending" default>Pending</md-option>
                            <md-option value="ongoing">Ongoing</md-option>
                            <md-option value="completed">Complete</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="right">
                    <md-button class="md-raised" ng-click="add()">Add</md-button>
                </div>
            </md-card-content>
        </md-card>



    </div>
</div>